:root {
  /* --max-width: 1100px; */
  --border-radius: 12px;
  --font-mono: 'Roboto', sans-serif, ui-monospace, Menlo, Monaco,
    'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ffffff;
  top: 0;
  position: sticky;
}

nav {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 0.625rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #6415ff;
}

nav button > a:hover {
  color: white;
}

.nav-last-right {
  margin-right: 1rem;
}
.nav-last-left {
  margin-left: 1rem;
}

.nav-link {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 5rem;
  padding-left: 5rem;
}

section .container-first {
  padding: 0.625rem;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding-right: 10rem;
  padding-top: 2rem;
}

.section-type-two {
  padding-left: 5rem;
  padding-right: 5rem;
}

.section-image {
  width: 50%;
  height: auto;
}

.values-item {
  width: 19rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 7rem;
  margin-top: 5rem;
}

.team-user-image {
  width: 15rem;
  height: auto;
}

footer {
  margin-top: 3rem;
}

footer .container {
  background-color: #edf2f7;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 5rem;
  padding-left: 5rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 7rem;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.footer-socialMedia-img {
  display: flex;
  padding: 10px;
  background-color: #1a202c;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100px;
}
.footer-divider {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0.5px #7c8ba2 solid;
}

/* Hamburger Menu */
.nav-mobile {
  display: none;
  position: absolute;
  right: 0;
  height: 70px;
  width: 70px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after {
  position: absolute;
  display: block;
  content: '';
  background: #243e63;
  height: 5px;
  width: 35px;
  transition: all 300ms ease-in-out;
}

#nav-toggle span::before {
  top: -10px;
}

#nav-toggle span::after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span::before,
#nav-toggle.active span::after {
  top: 0;
}

#nav-toggle.active span::before {
  transform: rotate(45deg);
}

#nav-toggle.active span::after {
  transform: rotate(-45deg);
}

/* Layout */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.self-center {
  align-self: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

/* Color */
.primary-color {
  color: #6415ff;
}

.primary-text-color {
  color: #243e63;
}

.secondary-text-color {
  color: #6415ff;
}

.tertiary-text-color {
  color: #7c8ba2;
}

.text-white {
  color: #ffffff;
}

.bg-primary-color {
  background-color: #6415ff;
}

.bg-white {
  background-color: white;
}

/* Font */
.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}

/* Padding */
.p-1 {
  padding: 0.25rem; /* 4px */
}
.pt-1 {
  padding-top: 0.25rem; /* 4px */
}
.pt-2 {
  padding-top: 0.5rem; /* 8px */
}
.pb-2 {
  padding-bottom: 0.5rem; /* 8px */
}
.py-2 {
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
}
.p-2-5 {
  padding: 0.625rem; /* 10px */
}
.pt-2-5 {
  padding-top: 0.625rem; /* 10px */
}
.pb-2-5 {
  padding-bottom: 0.625rem; /* 10px */
}
.py-3 {
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
}
.p-4 {
  padding: 1rem; /* 16px */
}
.px-4 {
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}
.py-4 {
  padding-top: 1rem; /* 16px */
  padding-bottom: 1rem; /* 16px */
}
.pt-4 {
  padding-top: 1rem; /* 16px */
}
.pb-4 {
  padding-bottom: 1rem; /* 16px */
}
.pr-4 {
  padding-right: 1rem; /* 16px */
}
.pl-4 {
  padding-left: 1rem; /* 16px */
}
.px-8 {
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
}
.pb-8 {
  padding-bottom: 2rem; /* 32px */
}
.pr-20 {
  padding-right: 5rem; /* 80px */
}

.pl-20 {
  padding-left: 5rem; /* 80px */
}

/* Margin */
.my-4 {
  margin-top: 0.75rem; /* 16px */
  margin-bottom: 0.75rem; /* 16px */
}

/* Rounded */

.rounded {
  border-radius: 0.25rem; /* 4px */
}
.rounded-md {
  border-radius: 0.375rem; /* 6px */
}

.rounded-xl {
  border-radius: 0.75rem; /* 12px */
}

/* None */
.border-none {
  border: none;
}

.text-decoration-none {
  text-decoration: none;
}

/* Line Height */
.leading-9 {
  line-height: 2.25rem; /* 36px */
}
.leading-10 {
  line-height: 2.5rem; /* 40px */
}

/* Case */
.uppercase {
  text-transform: uppercase;
}

/* Text Align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Width */
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}

.w-full {
  width: 100%;
}

.gap-4 {
  gap: 7rem; /* 16px */
}

.grid {
  display: grid;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.rounded-r-md {
  border-top-right-radius: 0.375rem; /* 6px */
  border-bottom-right-radius: 0.375rem; /* 6px */
}

.border {
  border-width: 1px;
}

.border-transparent {
  border-color: transparent;
}

.rounded-l-md {
  border-top-left-radius: 0.375rem; /* 6px */
  border-bottom-left-radius: 0.375rem; /* 6px */
}

.bg-input {
  background-color: #e2e8f0;
  border: 1px #7c8ba2 solid;
  color: #243e63;
}

.bg-input::placeholder {
  color: #7c8ba2;
}

.bg-input:focus {
  background-color: white;
}

.group-btn {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 0rem;
  border-top-right-radius: 0.375rem; /* 6px */
  border-bottom-right-radius: 0.375rem; /* 6px */
  margin-left: -2px;
}

.values-container {
  margin-top: 5rem;
}

/* Mobile */
@media (max-width: 700px) {
  .nav-mobile {
    display: block;
  }
  header {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
  }

  nav {
    padding: 0.25rem;
  }

  .nav-link {
    width: unset;
  }

  .nav-element {
    display: none;
  }

  section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  section .container-first {
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 100%;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 2rem;
  }

  .section-type-two {
    padding-left: 0rem;
  }

  .section-image {
    width: 100%;
  }

  .section-content-title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
  }

  .section-content-subtitle {
    width: 100%;
  }
  .values-container {
    margin-top: 1.5rem;
    flex-direction: column;
  }
  .values-item {
    width: 19rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .values-icon {
    background-color: #f7fafc;
    border-radius: 200px;
    padding: 20px;
  }

  .team-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    margin-top: 1rem;
  }

  footer {
    margin-top: 0.25rem;
  }

  footer .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .footer-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
  .col-span-2 {
    grid-column: span 2 / span 2;
  }
  .footer-logo {
    display: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  header {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  nav {
    padding: 0.25rem;
  }

  .nav-link {
    width: 80%;
  }

  .nav-last-right {
    margin-right: 0.25rem;
  }

  .nav-last-left {
    margin-right: 0.25rem;
  }

  section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .content {
    padding-top: 0rem;
    padding-right: 2rem;
  }

  .section-type-two {
    padding-left: 2rem;
    padding-right: 0rem;
  }

  .values-container {
    margin-top: 1.5rem;
  }
  .values-item {
    width: unset;
  }
  .team-grid {
    gap: 2rem;
    margin-top: 2rem;
  }
  footer {
    margin-top: 1rem;
  }

  footer .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .footer-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }
  .col-span-2 {
    grid-column: span 3 / span 3;
  }
}
